{% extends 'base.html' %}
{% load static %}


{% block content %}
<div><br></div>
<div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">דוגמאות</h2>
    <hr class="divider" />
    <!-- Portfolio-->
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row g-0">

                {% for example in examples %}
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{{ example.img.url }}"
                        title="{{example.project_name}}">
                        <img class="img-fluid" src="{{ example.img.url }}" alt="{{ example.project_name }}..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{{example.category}}</div>
                            <div class="project-name">{{example.project_name}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}

                
            </div>
        </div>
    </div>
</div>
{% endblock content %}




{% block js %}

{% endblock js %}