{% extends 'base.html' %}
{% load static %}
{% block title %}home
{% endblock title %}

                
{% block content %}
<section class="page-section bg-primary" id="about">
    <div class="container  px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{ detail.title }}</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4 text-end" >{{detail.description|linebreaksbr}} </p>
                <a class="btn btn-light btn-xl" href="{% url 'messaging:contact_view' %}">להתחיל!</a>
            </div>
        </div>
    </div>
</section>








{% endblock content %}
 
